@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    src: local('Spoqa Han Sans Neo Regular'),
    url('../assets/fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2');
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 500;
    src: local('Spoqa Han Sans Neo Medium'),
    url('../assets/fonts/SpoqaHanSansNeo-Medium.woff2') format('woff2');
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 700;
    src: local('Spoqa Han Sans Neo Bold'),
    url('../assets/fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2');
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 100;
    src: local('Spoqa Han Sans Neo Thin'),
    url('../assets/fonts/SpoqaHanSansNeo-Thin.woff2') format('woff2');
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 300;
    src: local('Spoqa Han Sans Neo Light'),
    url('../assets/fonts/SpoqaHanSansNeo-Light.woff2') format('woff2');
    font-style: normal;
    font-display: fallback;
}

